@{
    ViewBag.Title = "Contact Us";
}

<h4>Contact details :</h4>
<hr />
<div>

</div>        
<a asp-controller="home" asp-action="index" class="btn btn-outline-success" style="width:auto">Click here to see the list of our completed projects</a>
