<div style="background-color:red;" class="text-center">
    <h1 style="color:maroon;" class="text-danger">Access Denied</h1>
    <h6 style="color:maroon;"class="text-danger">You do not have persmission to view this resource</h6>
    <img src="~/icons/Access Denied.jpg" style="height:300px; width:300px" />
</div>