<h1>Your registration was successful</h1>
<h3>please confirm your email by clicking on the link we have emailed you before you login.Click <a style="color: #28A745;" asp-action="Login">here </a> to login</h3>